<div class="sidebar col-md-3 shadow-lg">
  <h2
    class="mb-4 text-secondary"
    style="font-family: 'Saira Stencil One', sans-serif"
  >
    VERIFIER DASHBOARD
  </h2>
  <!-- <a href="#" class="list-group-item list-group-item-action">Profile</a> -->

  <a href="/verifier/dashboard" class="list-group-item-action"
    ><i
      class="bi bi-calendar2-event-fill fs-3 me-3"
      style="vertical-align: middle"
    ></i
    >Events</a
  >

  <a href="/verifier/registration" class="list-group-item-action"
  ><i
    class="bi bi-calendar2-event-fill fs-3 me-3"
    style="vertical-align: middle"
  ></i
  >Registration</a
>

  <a href="/verifier/logout" class="list-group-item-action"
    ><i
      class="bi bi-box-arrow-left fs-3 me-3"
      style="vertical-align: middle"
    ></i
    >Logout</a
  >
</div>
<nav
  class="nav2 navbar navbar-expand-lg bg bg-light shadow-sm bg-body-tertiary"
>
  <div class="container-fluid">
    <h5
      class="text-secondary"
      style="font-family: 'Saira Stencil One', sans-serif"
    >
      VERIFIER DASHBOARD
    </h5>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="bi bi-list text-dark fs-1"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mt-3">
        <a
          href="/verifier/dashboard"
          class="list-group-item-action text-decoration-none"
          ><i
            class="bi bi-calendar2-event-fill fs-3 me-3"
            style="vertical-align: middle"
          ></i
          >Events</a
        >
        <a
          href="/verifier/registration"
          class="list-group-item-action text-decoration-none"
          ><i
            class="bi bi-calendar2-event-fill fs-3 me-3"
            style="vertical-align: middle"
          ></i
          >Registration</a
        >

        <a
          href="/verifier/logout"
          class="list-group-item-action text-decoration-none"
          ><i
            class="bi bi-box-arrow-left fs-3 me-3"
            style="vertical-align: middle"
          ></i
          >Logout</a
        >
      </ul>
    </div>
  </div>
</nav>
